.section_hero {
	background-color: #F8F9FB;
	padding: 32px 0 40px;
}

.hero_smalltext {
	margin-bottom: 32px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.1px;
	color: #437EF7;
	
}

.hero_desc {
	font-size: 18px;
	font-weight: normal;
	color: #5F6D7E;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.1px;
	text-align: center;

	
}

.hero_desc h1 {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: -0.02em;
	margin: 0 0 12px;
}
@media (min-width: 768px) {
	.section_hero{
		padding: 48px 0 88px;
	}

	.hero_desc h1 {
		font-weight: 700;
		font-size: 52px;
		line-height: 60px;
		letter-spacing: -0.01em;
	}

	.hero_desc {
		max-width: 672px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1200px) {
	.section_hero {
		padding: 80px 0 92px;
	}
}